<div id="chat_wrapper" class="dual_column">
    
  <div id="connected_users"></div>

  <div id="chat">
    <h2>Stream</h2>
    
    <form id="message_form" action="#" method="post" onsubmit="return false" >
      <input name="message" id="message" />
      <input type="submit" id="send_button" value="send" />
    </form>
    
    <ul id="stream"></ul>
  </div>

</div>
