<div class="dual_column">
    
  <div id="connected_users"></div>

  <div id="chat"></div>

</div>

<script src="/javascripts/init.js"></script>
      <!-- body
    #heading
      h1 nodechat
    #content
      p 
        | connected clients
        span#client_count 0
      p
        | Fun Chat Messages
        ul#chat_list

      form(method="post", action="#", onsubmit="return false")#messageForm
        p
          label Name:
            input(type='text', name='user_name')
        p
          label Message:
            input(type='text', name='message')
            input(type='submit', value='send')

    #footer -->
    
