<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="/javascripts/utils.js"></script>
<script src="/javascripts/dsp.js"></script>
<script src="/javascripts/init.js"></script>
<script src="/javascripts/connection.js"></script>
<script src="/javascripts/menu.js"></script>
<script src="/javascripts/chat.js"></script>
<!-- <script src="/javascripts/transport.js"></script> -->
<script src="/javascripts/instrument.js"></script>
<script src="/javascripts/channel.js"></script>
<script src="/javascripts/meter.js"></script>

<script src="/javascripts/equaliser.js"></script>
<script src="/javascripts/mute.js"></script>
<script src="/javascripts/solo.js"></script>
<script src="/javascripts/volume.js"></script>
<script src="/javascripts/sound_source.js"></script>
<script src="/javascripts/output.js"></script>
<script src="/javascripts/trigger_pad.js"></script>
<script src="/javascripts/toggle.js"></script>


<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/reset.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/main.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/header.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/buttons.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/channels.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/eqs.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/triggers.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/chat.css">
<link rel="stylesheet" type="text/css" media="screen, projection, print" href="stylesheets/floating_windows.css">



<div id="container">
  <div id="user"></div>

  <ul id="options"></ul>

  <div id="mixer"></div>

  <div id="trigger_bank"></div>

  <div id="sound_bank"></div>

  <div id="printer"></div>
  
  <!-- <div id="transport"></div> -->

  <div class="dual_column">
    
    <div id="connected_users"></div>

    <div id="chat"></div>
    
  </div>
</div>