/* RESET */
* { 
  margin: 0; 
  padding: 0;
}

body {
  background-color: black;
  font-family: helvetica neue, arial, sans;
  font-size: 16px;
  color: black;
}

h1{ margin: 0 0 10px 0;}
h2{ margin: 0 0 10px 0;}
h3{ margin: 0 0 10px 0; height: 20px;}

#container { 
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

/* NAME & MENU */
#user {
  margin-top: 10px;
  height: 50px;
}
#user h2 {
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding: 10px 1%;
  background-color: #FFF;
  color: black;
}

#options {
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  overflow-y: auto;
  margin: 10px auto 10px auto;
  padding: 5px 1% 5px 1%;
}
#options li {
  color: black;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0 10px;
  border-left: 2px solid black;
}

#options li:first-child {
  border: none;
  padding-left: 0;
}

/* GENERIC */

#transport,
#mixer,
#trigger_bank,
.dual_column {
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  padding: 5px;
  margin-bottom: 8px;
}


/* BUTTONS & TOGGLES */

.button.int_label {
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 10px;
  width: 10px;
  border: 2px solid black;
  bottom: 10px;
  line-height: 8px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  float: left;
  display:block;
  margin-right: 10px;
}
.toggle_wrapper {
  float: left;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  padding: 3px;
  margin-right: 10px;
}

.toggle_wrapper .button {
  width: 10px;
  height: 10px;
}

.toggle_wrapper .button.off {
  background-color: white;
}

.toggle_wrapper .button.on {
  background-color: green;
}
.button.int_label.solo.on {
  background-color: deepskyblue;
}
.button.int_label.mute.on {
  background-color: orange;
}


/* TRANSPORT */

#transport {
  height: 90px;
  width: 10%;
}

#transport label {
  display:block;
  float: left;
}

#transport .visual_aid_wrapper {
  clear: both;
  border: 1px solid black;
  padding: 2px;
  float: left;
  width: 7px;
  height: 7px;
  margin: 3px 18px 3px 0;
}

#transport .visual_aid_wrapper .visual_aid {
  width: 7px;
  height: 7px;
  background-color: white;
}

#transport input {
  float: left;
  clear: both;
  margin-right: 10px;
  width: 80px;
}




/* MIXER */

#mixer {
  height: 350px;
}

#mixer .channel_strip {
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 313px;
  padding: 10px;
  border: 2px solid black;
  width: 50px;
  float: left;
  margin-right: 5px;
  position: relative;
}

#mixer .channel_strip h3 {
  text-align: center;
}

#mixer .channel_strip .controls {
  width: 50px;
  height: 268px;
}

#mixer .channel_strip .buttons {
  width: 50px;
  height: 15px;
}

#mixer .channel_strip .controls .fader,
#mixer .channel_strip .controls .meter {
  height: 256px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#mixer .channel_strip .controls .meter {
  border: 2px solid black;
  width: 10px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}



/* TRIGGERS */

#trigger_bank {
  height: 88px;
}

#trigger_bank .trigger {
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  padding: 10px;
  float: left;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

#trigger_bank .trigger h3 {
  text-align: center;
}


/* DUAL COLUMN */
.dual_column {
  padding: 0.6%;
  height: 360px;
  overflow: hidden;
}
  /* CONNECTED USERS */
  #connected_users {
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid black;
    padding: 15px 1%;
    width: 15%;
    float: left;
    height: 325px;
    margin-right: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #connected_users ul li {
    float: none;
  }

  /* CHAT */
  #chat {
    padding: 15px 1% 0;
    height: 325px;
    float: left;
    width: 79%;
  }
  
  #chat #stream {
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid black;
    height: 260px;
    padding: 0px;
    overflow-y: scroll;
  }
  
  #chat #stream li {
    float: none;
    margin-bottom: 10px;
  }

  #chat #message {
    width: 90%;
    margin-right: 1%;
    margin-bottom: 18px;
  }
  
  #chat #send_button {
    width: 8%;
  }



/* Print */
#print div {
  width: 2px;
  height: 2px;
  margin: 0 4px 4px 0;
  background-color: white;
  display: inline-block;
}

/* SLIDERS */
.ui-slider-vertical {
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 2px solid black;
  width: 10px;
}
.ui-slider-vertical .ui-state-default {
  background: transparent url(/images/fader_arrow.png) no-repeat scroll 50% 50%;
  border: none;
  left: 0;
  width: 10px;
  height: 11px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}