/* RESET */
* { 
  margin: 0; 
  padding: 0;
}

body { 
  font-family: helvetica neue, arial, sans;
  font-size: 16px;
}

h1{ margin: 0 0 10px 0;}
h2{ margin: 0 0 10px 0;}
h3{ margin: 0 0 10px 0; height: 20px;}

#container { 
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 20px 0;
}

li {
  cursor: pointer;
  display: block;
  float: left;
  margin-right: 10px;
}


/* GENERIC */

#transport,
#mixer,
#trigger_bank {
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}


/* METRONOME */

#transport {
  height: 90px;
  width: 10%;
}

#transport label {
  display:block;
  float: left;
}
/* Buttons & Toggles */
.button.int_label {
  height: 13px;
  width: 13px;
  border: 1px solid black;
  bottom: 10px;
  font-size: 9px;
  text-align: center;
  float: left;
  display:block;
  margin-right: 4px;
}
.toggle_wrapper {
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  padding: 3px;
  margin-right: 10px;
}

.toggle_wrapper .button {
  width: 12px;
  height: 12px;
}

.toggle_wrapper .button.off {
  background-color: white;
}

.toggle_wrapper .button.on {
  background-color: black;
}
.button.mute.on {
  background-color: deepskyblue;
}
.button.on.int_label.solo {
  background-color: orange;
}



#transport .visual_aid_wrapper {
  clear: both;
  border: 1px solid black;
  padding: 2px;
  float: left;
  width: 7px;
  height: 7px;
  margin: 3px 18px 3px 0;
}

#transport .visual_aid_wrapper .visual_aid {
  width: 7px;
  height: 7px;
  background-color: red;
}

#transport input {
  float: left;
  clear: both;
  margin-right: 10px;
  width: 80px;
}




/* MIXER */

#mixer {
  height: 335px;
}

#mixer .channel_strip {
  height: 313px;
  padding: 10px;
  border: 1px solid black;
  width: 50px;
  float: left;
  margin-right: 5px;
  position: relative;
}

#mixer .channel_strip h3 {
  text-align: center;
}

#mixer .channel_strip .controls {
  width: 50px;
  height: 268px;
}

#mixer .channel_strip .buttons {
  width: 50px;
  height: 15px;
}

#mixer .channel_strip .controls .fader,
#mixer .channel_strip .controls .meter {
  height: 256px;
  width: 6px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#mixer .channel_strip .controls .meter {
  border: 1px solid #999;
}

#mixer .channel_strip .controls .fader .ui-slider-handle {
  width: 15px;
  height: 10px;
}



/* TRIGGERS */

#trigger_bank {
  height: 75px;
}

#trigger_bank .trigger {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  padding: 10px;
  float: left;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

#trigger_bank .trigger h3 {
  text-align: center;
}



/* CHAT */
#chat .input {
  width: 200px;
}



/* Print */
#print div {
  width: 2px;
  height: 2px;
  margin: 0 4px 4px 0;
  background-color: black;
  display: inline-block;
}