/* TRANSPORT */

#transport {
  height: 90px;
  width: 10%;
}

#transport label {
  display:block;
  float: left;
}

#transport .visual_aid_wrapper {
  clear: both;
  border: 1px solid black;
  padding: 2px;
  float: left;
  width: 7px;
  height: 7px;
  margin: 3px 18px 3px 0;
}

#transport .visual_aid_wrapper .visual_aid {
  width: 7px;
  height: 7px;
  background-color: white;
}

#transport input {
  float: left;
  clear: both;
  margin-right: 10px;
  width: 80px;
}
