<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AudioSockets Chat</title>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="./lib/underscore.js"></script>
  <script type="text/javascript" src="./lib/backbone.js"></script>
  <script type="text/javascript" src="./app/models/models.js"></script>
  <script type="text/javascript" src="./app/controllers/controllers.js"></script>
  <script type="text/javascript" src="./app/views/messages/messages.js"></script>
  <script type="text/javascript" src="./app/views/instruments/instruments.js"></script>
  


  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/header.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/buttons.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/channels.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/eqs.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/triggers.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/chat.css">
  <link rel="stylesheet" type="text/css" media="screen, projection, print" href="/stylesheets/floating_windows.css">
</head>
<body>
  <div id="container">
    <div id="user"></div>
    
    <%- body %>
  </div>
</body>
</html>