<div id="instruments">
  <form id="options" action="#" method="post" onsubmit="return false" >
    <select>
      <option value="kick">Kick</option>
      <option value="snare">Snare</option>
      <option value="long-hat">Open Hi-hat</option>
      <option value="short-hat">Closed Hi-hat</option>
      <option value="osc">Simple Oscillator</option>
    </select>
    
    <input type="submit" id="send_button" value="Create Instrument" />
  </form>
  
</div>